* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.app {
  display: grid;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-template-rows: repeat(3, 8rem);
  gap: 3px;
  margin: 0 auto;
}

.board p {
  border: 2px solid #0e7490;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e5e4;
  font-size: 4rem;
}

.btn-reset {
  background: #2563eb;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-reset:hover {
  background-color: #1d4ed8;
}

@media (max-width: 400px) {
  .board {
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    width: 100%;
  }
}
